*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.hero{
    position: relative;
    width: 100%;
    height: 100vh;
    background: #ffffff;
    position: relative;
}

nav{
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px 0;
    align-items:  inherit;
    justify-content: space-between;
}

.logo{
    width: 50px;
    cursor: pointer;
    left: 0px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 10px;
}

nav ul li a{
    text-decoration: none;
    color: #000;
    font-weight: bold;

}

nav ul li a:hover{
    color: red;
}

.detel{
    margin-left: 8%;
    margin-top: 6%;
}

.detel h1{
    font-size: 50px;
    color: #212121;
    margin-bottom: 19px;
}

span{
    color: red;

}

.detel h4{
    color: #1e3919;
    line-height: 22px;
}

.detel a{
    background: #212121;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: #ffffff;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
}

.images{
    position: absolute;
    width: 248px;
    height: 384px;
    right: 30px;
    top: 129px;
    border-radius: 30px;

}

.images img{
    height: 120%;
    position: absolute;
    left: 50%;
    bottom: 0px;
    transform: translateX(-30%);
    transition: bottom 1s, left 1s;
}

.images:hover .shape{
    left: 40px;
}

.images:hover .girl{
    left: 45%;
}

.social{
    margin-left: 8%;
    margin-top: 100px;
}

.social a{
    font-size: 30px;
    color: #212121;
    margin-right: 20px;
}

.social a:hover{
    color: red;
}



.About{
    width: 100%;
    padding: 100px 0px;
    background-color: #191919;
}
.About img{
    height: auto;
    width: 430px;
}
.About-text{
    width: 550px;
}
.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.About-text h2{
    color: #000000;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.About-text h5{
    color: #000000;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}
.about-text p{
    color: #000000;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}
.title h3{
    color: white;
    font-size: 20px;
    width: 880px;
    margin: 30px auto;
    text-align: center;
}