*{

    font-family: sans-serif;
    text-decoration: none;

}
#circle{
    position: absolute;
    background-color: rgba(219, 8, 8, 0.98);
    clip-path: circle(50% at 70% 50%);
   //transform: rotate(180deg);
    width: 390px;
    height: 384px;
    right: 30px;
    top: 129px;
    border-radius: 30px;
}

.hero{
    position: relative;
    width: 100%;
    height:100vh;
    background: #ffffff;

}

nav{
    display: flex;
    margin: auto;
    padding: 20px 0;
    position:relative;
    align-items: center;
    justify-content: space-around;
    background-color: #e8e8e8;
    width: 100vw;
    height: 50px;
    box-shadow: 2px 4px 3px 2px darkgrey;
}

.logo{
    width: 50px;
    cursor: pointer;
    left: 0px;
    border-radius: 25px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 10px;
}

nav ul li a{
    text-decoration: none;
    color: #000;
    font-weight: bold;

}

nav ul li a:hover{
    color: #ffffff;
}

.detel{
    margin-left: 8%;
    margin-top: 6%;
}

.detel h1{
    font-size: 50px;
    color: #212121;
    margin-bottom: 19px;
}


span{
    color: red;

}
black{
    color: #0c0323;
}
.detel h4{
    color: #1e3919;
    line-height: 22px;
}

.detel a{
    background: #212121;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: #ffffff;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
}


.my{
    position: absolute;
    width: 148px;
    height: 184px;
    right: 30px;
    top: 129px;
    border-radius: 30px;

}

.images my{
    height: 180%;
    position: absolute;
    left: 50%;
    bottom: 0px;
    transform: translateX(-1%);
    transition: bottom 2s, left 1s;
}
.my{
    position: absolute;
    width: 248px;
    height: 384px;
    right: -10px;
    top: 129px;
    border-radius: 30px;


}
.images:hover .shape{
    left: 20px;
}

.images:hover .my{

    left: 28%;
}

.social{
    margin-left: 8%;
    margin-top: 20px;
}

.social a{
    font-size: 30px;
    color: #212121;
    margin-right: 20px;
}

.social a:hover{
    color: #ff0000;
}



.About{
    width: 100%;
    padding: 100px 0px;
    background-color: #191919;
}
.About img{
    height: auto;
    width: 430px;
}
.About-text{
    width: 550px;
}
.button b{
    background: #050505;
    padding: 13px 18px;
    text-decoration: none;
    font-weight: bold;
    color: #fcfafa;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
}
.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.About-text h2{
    color: #000000;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.About-text h5{
    color: #000000;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}
.about-text p{
    color: #000000;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}
.title h3{
    color: white;
    font-size: 20px;
    width: 880px;
    margin: 30px auto;
    text-align: center;
}







/* Skill Section Start */

#class-Service {
    /* height: 70vh; */
    height: 230px;
    background-color: #ffffff;
    position: relative;
}

#slider {
    /* background-color: red; */
    height: 800px;
    width: 1020px;
    display: flex;
    justify-content: space-around;
    align-items: self-start;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 30px;
    overflow: hidden;
    /* border: 1px solid red; */
}

#slid-con-div {

    width: 3000px;

    display: flex;
    justify-content:space-evenly;
    align-items: center;
    flex-shrink: 0;
    flex-basis: 1007px;
    margin-left: 1128px;
    align-content: baseline;
    animation: scroll 5s linear alternate;
    animation-iteration-count: infinite;
    animation-delay: 2s;
}

@keyframes scroll {
    from {
        margin-left: 828px;
    }
    to {
        margin-left: -821px;
    }
}

.slid-div {
    position: relative;
    background: #c6c0c0;


}



.img-div {
    height: 92px;
    width: 92px;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#img_1 {
    background-image: url("../img/image 37.png");
}

#img_2 {
    background-image: url("../img/image 36.png");
}

#img_3 {
    background-image: url("../img/image 35.png");
}

#img_4 {
    background-image: url("../img/image 38.png");
}

#img_5 {
    background-image: url("../img/image 39.png");
}



/* Skill Section Start */
#My-skill-EDUCATION {
    /* height: 70vh; */
    height: 200px;
    background-color: #ffffff;
    position: relative;
}
#second-slider {

    height: 800px;
    width: 1020px;
    display: flex;
    justify-content: space-evenly ;
    align-items: self-start;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 30px;
    overflow: hidden;

}

#Secondslid-con-div {

    width: 3000px;

    display: flex;
    justify-content:space-evenly;
    align-items: center;
    flex-shrink: 0;
    flex-basis: 1007px;
    margin-left: 1128px;
    align-content: baseline;
    animation: scroll 5s linear alternate;
    animation-iteration-count: infinite;
    animation-delay: 2s;
}

@keyframes scroll {
    from {
        margin-left: 828px;
    }
    to {
        margin-left: -821px;
    }
}

.secondslid-div {
    position: relative;
    background: #c6c0c0;


}



.secondimg-div {
    height: 92px;
    width: 92px;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#skill_1 {
    background-image: url("../img/simple-icons_mysql.png");
}

#skill_2 {
    background-image: url("../img/logos_java.png");
}

#skill_3 {
    background-image: url("../img/bx_bxs-file-css.png");
}

#skill_4 {
    background-image: url("../img/logos_python.png");
}

#skill_5 {
    background-image: url("../img/vscode-icons_file-type-photoshop.png");
}

/* Skill Section End */
#EDUCATION {
    /* height: 70vh; */
    height: 400px;
    background-color: #ffffff;
    position: relative;
}
.education{


     /* Vector */


}
/*========================*/
.button01{
    position: absolute;
    top: 5000px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 156px;
    height: 32px;
    background-color: #090909;
    border-radius: 40px;
    border: 2px solid #e80202;
    color: #e30909;
    z-index: 4;
}
.button10{
    position: center;
    color: red;
    left: 10px;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 156px;
    height: 32px;
    text-decoration: none;
}
.a{
    position: center;
    background: #000000;
    padding: 10px 18px;
    font-weight: bold;
    color: red;
    color: #ffffff;
    margin: 30px 0;
    border-radius: 5px;
}

/*========================*/
.first{
    width: 500px;
    height: 100px;
    position:static;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    transition-property: width,height;
    transition-duration: 1s;

}
.second{
    width: 500px;
    height: 300px;
    position:static;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    transition-property: width,height;
    transition-duration: 1s;

}
.third{
    width: 500px;
    height: 300px;
    position:static;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    transition-property: width,height;
    transition-duration: 1s;
}

/*========================*/

header{
    position: absolute;
    text-align: center;
    width: 75%;
    left: 12%;
    padding-top: 12px;
}
header h1{
    font-size: 30px;
}
.empty{
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top: 0px;
    left: 0;
    z-index: -1;
}

.content{
    display: flex;
    min-height: 90vh;
}
.content section{
    margin-top: 8vh;
    margin-left: 20vh;
}
.content-form{
    margin-top: 7rem;
}
section i{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    text-align: center;
}
.form{
    display: inline-table;
    position: absolute;
    padding-top: 12px;
    left: 0;
    margin-left: 50%;
    justify-content: center;
    align-items: center;

}

.form .contact-form input{
    width: 30rem;
    background-color: transparent;
    border: 0px;
    border: transparent;
    margin: 20px;
    padding: 10px;
    font-size: 18px;
    border-bottom: 2px solid #1f1717;
}
.form .contact-form input ~ span{
    position: absolute;
    left: 20px;
    transition: 0.9s ease-in-out;
    margin-top: 10px;
}
.form .contact-form input:focus ~span{
    transform: translateY(-20px);
    pointer-events: none;
}
.form .contact-form textarea{
    width: 30rem;
    border: 0px;
    background-color: transparent;
    margin: 20px;
    font-size: 17px;
    border-bottom: 2px solid #d52222;
}
.form .contact-form textarea ~ span
{
    position: absolute;
    left: 20px;
    margin-top: 10px;
    transition: 0.9s ease-in-out;
}
.form .contact-form textarea:focus ~span{
    transform: translateY(-20px);
    pointer-events: none;
}
.form .contact-form input[type=submit]{
    background-color: #c23b3b;
    border: 2px solid #bb1b1b;
    font-size: 18px;
    width: 50%;
    height: 40px;
    margin-top: -5px;
}
.form .contact-form input[type=submit]:hover{
    background-color: transparent;
    color: #cd0000;
}
.media{
    position: absolute;
    top: 85vh;
    right: 20vh;
    display: flex;
    list-style: none;
}
.media li{
    margin: 20px 30px;
}
@media screen and (max-width: 900px){
    body{
        background-repeat: repeat-y;
        overflow: auto;
    }
    header{
        position: absolute;
        left: 0;
        top: 20%;
        width: 100%;
    }
    .empty{
        height: 210vh;
    }
    .form{
        position: absolute;
        top: 100vh;
        margin-left: 10%;
    }
    .content-form{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 0;
        margin-top: 53vh;
        margin-left: 10vh;
    }
    .content section{
        margin-top: 0vh;
        margin-left: 0vh;
    }
    .media{
        position: absolute;
        top: 190vh;
        right: 30px;
    }
    #contact {
        height: 550px;
        top: 900px;
        background-color: #323040;
    }
    .main-section {
        position: relative;
        margin-left: 25px;
        margin-right: 25px;
        background-color: #323542;
    }

    html {
        line-height: 1.15;
        -webkit-text-size-adjust: 100%;
    }
    ::-webkit-scrollbar {
        width: 12px;
    }
    ::-webkit-scrollbar-thumb {
        background: #ea3131;
        border-radius: 5px;
    }
    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey;
        border-radius: 5px;
    }

}